body {
    background-color: rgb(39, 39, 39);

    color: white;

}

.container-fluid {
    padding-top: 20px;
}

form, .form-login {
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;

    background-color: rgb(53, 53, 53);

    margin-bottom: 30px;

}

.form-login {
    padding-top: 30px;
}

.prueba {
    border-style: solid;
    border-color: black;
    border-width: 2px;    
}

table {
    margin-top: 20px;
    color: black;
}

thead {
    color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: rgb(226, 226, 226);
}